/*
GERAL
________________________________ */

body{
  background-color: #000!important;
  color: #fff!important;
  font-family: "Source Sans 3", sans-serif!important;
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
}

h1{
  font-weight: 900!important;
}

.pageTitle .badge {
    font-size: 14px!important;
    position: relative!important;
    bottom: 12px!important;
    left: 8px!important;
}

/*
HEADER E MENU NAV
________________________________ */

header > nav{
  position: fixed!important;
  width: 100%!important;
  top: 0!important;
  left: 0!important;
  z-index: 1000!important;
  background-color: transparent!important;
  transition: background-color .3s;
}

header > nav.navbar-scrolled{
  background-color: rgba(0, 0, 0, .6)!important;
}

@media(max-width: 1199.98px){
  header > nav,
  header > nav.navbar-scrolled{
    background-color: rgba(0, 0, 0, 1)!important;
  }
}

/*
BANNER HERO
________________________________ */

#hero{
  min-height: 40vh;
  background-repeat: no-repeat;
  background-position: top left;
  background-image: url('https://raw.githubusercontent.com/camilaspenha/meu-app-tmdb/refs/heads/main/docs/hero_bg.jpg');
  background-attachment: fixed;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#hero::after{
  content:"";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(360deg,rgba(0, 0, 0,1),rgba(0, 0, 0, 0.4));
  position: absolute;
  z-index: 0;
  border-bottom: 5px solid #000
}

#hero > .container{
  position: relative;
  z-index: 1;
}

@media(max-width:992px){
   #hero{
    min-height: 60vh;
  }
}

/*
INPUTS E FORMS
________________________________ */

input#busca {
    background: transparent;
    color: #fff ;
}

input::placeholder {
  color: #fff!important;
  opacity: 1!important; 
  
}

.form-busca {
    position: relative;
}

.form-busca i {
    position: absolute;
    top: 6px;
    right: 6px;
    color: #808080;
    cursor: pointer;
}

@media(max-width: 1199.98px){
  input#busca {
    margin-bottom: 32px;
  }
}
/*
CARDS DOS FILMES
________________________________ */

.movie-section {
  outline: none;
}

.movie-row {
  scroll-behavior: smooth;
  overflow-y: hidden;
}

.conteiner-favoritos .movie-row{
  justify-content: center!important;
  flex-wrap: wrap;
}

.movie-card {
  transition: transform 0.3s ease;
  width: 300px;
  flex-shrink: 0;
  z-index: 1;
}

.movie-card:hover{
  transform: scale(1.02);
  overflow-y: hidden;
  cursor: pointer;
}
.conteiner-favoritos .movie-card:hover{
  transform: unset;
}

.movie-image {
  object-fit: cover;
  width: 100%!important;
  height: auto;
}

.conteiner-favoritos .movie-card{
  margin-top:16px 
}

@media(max-width:1199.98px){
  .movie-card:hover{
    transform: unset!important;
  }
}

@media(max-width:992px){
  .movie-row {
    padding: 16px;
  }

  .movie-card {
    height: 300px;
    width: 200px;
  }

  .movie-image {
    object-fit: unset;
    height: 100%!important;
    width:auto;
  }
  
}

#card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: block;
  opacity: 1;
}

/*
BOTAO FAVORITAR - CARD DE FILMES
________________________________ */

#btn-favoritar{
  z-index: 10;
  top: 32px;
  right: 32px;
  opacity: 0;
  font-size: 24px;
  transition: all .2s ease-in-out;
}

.conteiner-favoritos #btn-favoritar,
.movie-card:hover #btn-favoritar{
  opacity: 1;
}

@media(max-width:1199.98px){
   .movie-card:hover #btn-favoritar{
    opacity: 1; 
  }
  .movie-card #btn-favoritar{
    opacity: 1;
    font-size: 18px;
  }
}

/*
MODAL DETALHES DO FILME/SERIE
________________________________ */

.modal-content{
   background-color: #191919!important;
   color: #fff!important
}

.modal-header,
.modal-footer{
  border:none!important
}
